<nav aria-label="Blog pagination">
    <ul class="pagination">
        {% if current > 1 %}
            <li class="page-item"><a class="page-link" href="{{ current - 1 }}">Previous</a></li>
        {% endif %}
        {% for page in 1..paging %}
            <li class="page-item {% if current == page %} active {% endif %}"><a class="page-link" href="/blog/{{ page }}">{{ page }}</a></li>
        {% endfor %}
        {% if current < paging %}
        <li class="page-item"><a class="page-link" href="{{ current + 1 }}">Next</a></li>
        {% endif %}
    </ul>
</nav>